<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Secure Storage </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button color="primary" expand="block" (click)="read()">
    <ion-icon slot="start" name="eye-outline"></ion-icon>
    Get</ion-button
  >

  <ion-button color="primary" expand="block" (click)="write('Old Value')">
    <ion-icon slot="start" name="key-outline"></ion-icon>
    Set "Old Value"</ion-button
  >

  <ion-button color="primary" expand="block" (click)="write('New Value')">
    <ion-icon slot="start" name="key-outline"></ion-icon>
    Set "New Value"</ion-button
  >
</ion-content>
